@import "tailwindcss";

:root {
  --background: #1e2733;
  --foreground: #ededed;
  --card-bg: #2d3748;
  --card-border: #4a5568;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
